/* About.css */

.about {
  display: flex;
  flex-direction: column;
  margin-top: -4rem;
  align-items: center; /* Align items to center on larger screens */
  text-align: center; /* Center text on larger screens */
  padding: 2rem;
}

.about__name {
  color: #007bff; /* Adjust the color as needed */
  font-size: 50px;
  margin-top: 1rem;
}

.about__role {
  margin-top: -1rem;
  color: #555; /* Adjust the color as needed */
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
  margin-top: 1rem;
  color: #777; /* Adjust the color as needed */
}

.about__desc,
.about__contact {
  margin-top: 2rem;
}

.about .link--icon {
  margin-right: 0.8em;
  color: #007bff; /* Adjust the color as needed */
  font-size: 1.5rem;
}

.about .btn--outline {
  margin-right: 1em;
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #fff;
  background-color: #007bff; /* Adjust the color as needed */
  border: 1px solid #007bff; /* Adjust the color as needed */
  border-radius: 4px;
  cursor: pointer;
}

.link--icon:hover {
  color: #0056b3; /* Adjust the color as needed */
}

.about__image {
  width: 40%;
}

/* Media Query for Smaller Screens (max-width: 600px) */
@media (max-width: 600px) {
  .about {
    align-items: flex-start;
    margin-top: 2em;
    margin: 1.2rem;
    text-align: left;
    padding: 1rem;
  }

  .about__name {
    display: flex;
    font-size: 40px; /* Adjust the font size as needed */
    margin: 0 auto;
  }

  .about__desc {
    max-width: 100%;
    text-align: justify;
    text-align-last: center;
  }

  .about__image {
    width: 94%;
  }
}
