/* Navbar.css */

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav {
  transition: background-color 0.3s ease;
}

/* Navbar.css */

/* Add styles for dark mode */
.nav.dark {
  background-color: #333; /* Dark background color */
  color: #fff; /* Light text color */
}

/* Add styles for light mode */
.nav.light {
  background-color: #f4f4f4; /* Light background color */
  color: #333; /* Dark text color */
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav__list-item {
  margin-right: 1rem;
}

.link--nav {
  text-decoration: none;
  color: inherit;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #333; /* Default icon color */
}

.btn--icon:hover {
  opacity: 0.8;
}

