/* Footer.css */

.footer {
  background-color: var(--clr-bg);
  padding: 1.5em 0;
  text-align: center;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
}

.footer__social {
  font-size: 80%;
}

.footer__link {
  color: var(--clr-primary);
  font-size: 1.5em;
  margin: 0 0.5em;
}

.footer__text {
  color: var(--clr-fg);
  font-size: 0.9em;
  margin-top: 0.5em;
}
